.hero
{
    margin: 0 auto;
    background-image: url(../imagens/Pacific_rimCel.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: relative;

    &_bloco
    {
        text-align: center;
        background-color: transparent;
        position: absolute;
        top:15%;
        
        img
        {
            max-width: 80%;
            padding-bottom: 15vh;
        }

        ul
        {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            font-family: Nova Square, Verdana, Geneva, Tahoma, sans-serif;
            
            li
            {
                width: 50%;
                height: 35%;
                
                img 
                {
                    max-width: 60%;
                    padding-bottom: 0;
                    
                }
                .imagem2
                {
                    max-width: 80%;
                }
                h2 
                {
                    color: #04ca3f;
                    font-size: 24px;
                    background-color: #000000;
                    display: inline-block;
                }
            

                button 
                {
                    display: block;
                    margin-left:25%;
                    margin-top: 2vh;
                    margin-bottom: 2vh;
                    width: 50%;
                    height: 60px;
                    text-transform: uppercase;
                    color: rgb(0, 0, 0);
                    background-color: #9db9e2;
                    opacity: 0.8;
                    border: 2px solid #9db9e2;
                    border-radius: 20px;
                    font-family: Electrolize;
                    letter-spacing: 1px;
                    //--Efeito Neon --//
                    box-shadow: inset 0px 0px 36px 0px #6999e2, 0 0 0px 0  #fbff00;
                    text-shadow: 8px 8px 8px hsl(0 0% 100%/0.3),0 0 32px;
                    position: relative;

                    

                    &:hover 
                    {
                        background-color: #fbff00;
                        border: 0px;
                        box-shadow: inset 0px 0px 36px 0px #6b768b, 0 0 36px 0  #fbff00;
                        color: #ff4800;
                        opacity: 1;
                    }
                }
            }
        }
    }
    &_abaixo
    {
            
            // position: absolute;
            // bottom: 2vh;
            text-align: center;
            color: rgb(251, 255, 0);
            font-family:Nova Square, Verdana, Geneva, Tahoma, sans-serif ;
            font-size: 24px;
            padding-top: 92vh;
    }

    .sumir
    {
        display: none;
    }
    
    @media(min-width:768px)
    {
        background-image: url(../imagens/Pacific_rimTablet.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        
        &_bloco
        {
            max-width: 70%;
            top:10%;
            left: 15vw;
            margin: 0 auto;
            img
            {
                padding-bottom: 5vh;
            }
            
            li 
            {
                max-height: 200px;
                button
                {
                    font-size: 32px; 
                }
                .btn 
                {
                    height: 80px;
                    border: 8px solid black;
                    width: 200px ;
                    margin: 5vh auto;
                }
                .preco 
                {
                    font-size: 48px;
                }
            }    
        }

        &_abaixo
        {
            
            // position: absolute;
            // bottom: 2vh;
            text-align: center;
            color: rgb(15, 241, 45);
            font-family:Nova Square, Verdana, Geneva, Tahoma, sans-serif ;
            font-size: 48px;
            padding-top: 85vh;
        }

    }    

    @media(min-width:1200px)
    {
        
        background-image: url(../imagens/Pacific_rimFull.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh; 

        &_bloco
        {
            margin: 0 auto;
            max-width: 70%;
            left: 15vw;
            // img
            // {
            //     padding-bottom: 7vh;
            // }
            // ul 
            // {
            //     margin-bottom: 3vh;
            // }
            // .btn 
            // {
            //     margin-left:30%; 
            // }        
            li 
            {
                max-height: 500px;
                button
                {
                    // margin-left:25%;
                    // margin-top: 2vh;
                    // margin-bottom: 2vh;
                    // width: 50%;
                    // height: 60px;
                    font-size: 32px;
                    margin-right: 120px;
                    margin-left: 0vw;
                    max-width: 100%;
                }
                .btn 
                {
                    width: 250px ;
                    height: 100px; 
                    margin: 5vh auto;
                }
                .preco 
                {
                    font-size: 52px;
                }
            }       
        }  
        &_abaixo
        {
            
            // position: absolute;
            // bottom: 2vh;
            text-align: center;
            color: #fbff00;
            -webkit-text-stroke: 2px rgb(255, 0, 0);
            font-family:Nova Square, Verdana, Geneva, Tahoma, sans-serif ;
            font-size: 56px;
            padding-top: 85vh;
        }
    }    
}

