@use 'hero.scss';
@use 'sinopse.scss';
@use 'footer.scss';

body
{
    background-color: rgb(27, 27, 27);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
    h3,h2,ul,p
    {
        margin: 0;
        padding: 0;
    }

    @media(min-width:1200px)
    {
        background-color: rgb(61, 84, 95);
    }

    @media(min-width:768px)
    {
        background-color: rgb(44, 45, 49);
    }
}